@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script>
        var $province = $('#Province');
        var $district = $('#District');
        var $ward = $('#Wards');


        $province.on('change', function () {
            var $this = $(this);
            $.ajax({
                url: '@Url.Action("GetDistricts", "Home")',
                method: 'Get',
                dataType: 'json',
                data: {
                    provinceId: $this.val()
                }

            }).done(function (data) {
                $district.find('option:not(:first)').remove();
                $ward.find('option:not(:first)').remove();
                var result = '';
                data.forEach(ele => {
                    result += `<option value="${ele.value}">${ele.text}</option>`;
                });
                $district.append(result);
            })
        });

        $district.on('change', function () {
            var $this = $(this);
            $.ajax({
                url: '@Url.Action("GetWards", "Home")',
                method: 'Get',
                dataType: 'json',
                data: {
                    districtId: $this.val()
                }

            }).done(function (data) {
                $ward.find('option:not(:first)').remove();
                var result = '';
                data.forEach(ele => {
                    result += `<option value="${ele.value}">${ele.text}</option>`;
                });
                $ward.append(result);
            })
        });
    </script>
}
<div class="text-center">
    <h1 class="display-4">Code Asp.Net Core MVC - JavaScript - Ajax</h1>
</div>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="Province">Tỉnh thành</label>
                        <select id="Province" class="form-control">
                            <option value="">--Không chọn--</option>
                            @foreach (var option in (ViewBag.Province as IEnumerable<SelectListItem>))
                            {
                                <option value="@option.Value">@option.Text</option>
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="District">Quận huyện</label>
                        <select id="District" class="form-control">
                            <option value="">--Không chọn--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Wards">Xã Phường</label>
                        <select id="Wards" class="form-control">
                            <option value="">--Không chọn--</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div style="color:green; font-size:22px">
                    Bạn đang ở khu vực: <div id="divResult"></div>
                </div>
            </div>
        </div>
    </div>
</body>